$font-size: 18px;
$font-family: 'Open Sans', sans-serif;
$font-weight: 400;
$line-height: 1.5;
$heading-font-size: 32px;
body {
    line-height: $line-height;
    #nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo {
            a {
                font-size: $heading-font-size;
                line-height: $line-height;
            }
        }
        #user-menu {
        display: flex;
        justify-content: space-around;
        width: 15%;
            #dropdown {
                width: 40px;
                overflow: hidden;
            }
        }
    }
    #greet {
        font-size: $font-size;
        text-align: center;
    }
    #heart {
        height: 40px;
        width: auto;
    }
}
.profile {

        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 20px 0px;
    img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
}