#user-menu {
    display: flex;
    justify-content: space-around;
    width: 15%;

    #dropdown {
        width: 40px;
        overflow: hidden;
    }
}

#heart {
    height: 40px;
    width: auto;
}
